@model IEnumerable<WebChild.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đơn hàng</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Đơn hàng ID
        </th>
        <th>
            Ngày Tạo Đơn
        </th>
        <th>
            Tổng Tiền
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            Địa Chỉ Giao Hàng
        </th>
        <th>
            Email
        </th>
        <th>
            Trạng Thái
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <div class="d-flex">
                <button class="btn btn-warning">
                    <a style="color: #FFFFFF; text-decoration: none;" asp-action="UpdateOrder" asp-route-id="@item.OrderId">Delivery</a>
                </button>
                <button class="btn btn-success" style="margin-left: 5px">
                    <a style="color: #FFFFFF; text-decoration: none;" asp-action="UpdateSuccess" asp-route-id="@item.OrderId">Complete</a>
                </button>
            </div>
            <div class="d-flex" style="margin-top: 10px">
                <button class="btn btn-info">
                    <a style="color: #FFFFFF; text-decoration: none;" asp-action="OrderDetail" asp-route-id="@item.OrderId">Details</a>
                </button>
                <button class="btn btn-danger" style="margin-left: 20px">
                    <a style="color: #FFFFFF; text-decoration: none;" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </button>
            </div>
        </td>
    </tr>
}
    </tbody>
</table>
