@Model IEnumerable

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Category
        </th>
        <th>
            Product Name
        </th>
        <th>
            Product Price
        </th>
        <th>
            Product Price Sale
        </th>
        <th>
            Product Amount
        </th>
        <th>
            Date Include
        </th>
        <th>
            Brand
        </th>
        <th>
            image
        </th>
        <th>
            Status
        </th>
        <th>
            Product Description
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @for(int i = 0; i < Model.Count; i++) {
        <tr>
            <td>
                @Model[i].Category.CategoryName
            </td>
            <td>
                @Model[i].ProductName
            </td>
            <td>
                @Model[i].ProductPrice
            </td>
            <td>
                @Model[i].ProductPriceSale
            </td>
            <td>
                @Model[i].ProductAmount
            </td>
            <td>
                @Model[i].DateInclude
            </td>
            <td>
                @Model[i].Brand
            </td>
            <td>
                <img src="~/image/@Model[i].image" alt="Hình ảnh" width="100" height="100" />
            </td>
            <td>
                @Model[i].Status.StatusName
            </td>
            <td>
                @Model[i].ProductDescription
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
